*{
    padding: 0%;
    margin: 0%;
}
ul li {
    text-decoration: none;
}
#fondo-equipo {
    background-image: url(https://www.argentina.basketball/themes/ee/site/default/asset/img/blog/26702/plantel__large.jpg);

    padding: 400px 0px;
    background-size: cover;
    width: 1950px;
    height: 900px;
}

.container {
    border: 2px;
    margin-bottom: 10px;
}

.footer-inicio {
    display: flex;
    background-color: greenyellow;
    justify-content: space-around;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: green;
    text-align: center;
    

    

}

.container-menu-inicio  {
    background-color: yellowgreen;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}




    
   
.noticias-inicio {
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: yellowgreen;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}

#fondodepantalla-basquet {
    background-image: url(https://media.vivieloeste.com.ar/p/0b1ef491edb41195a29d1523603737b8/adjuntos/320/imagenes/000/048/0000048320/1200x675/smart/imagepng.png);
    
    padding: 180px 30px;
    background-size: cover;
    width: 1845px;
    height: 860px;
}
.noticia-basquet {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    color: greenyellow;
}
#fondo-disciplinas {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBQ1K6j-DdYxXozIpa2r4D8jdmP9v5XnbaYUJZ_jE3cNBAjvxsefMmHbQKRR12iGdYly8&usqp=CAU);
     padding: 200px 0px;
     background-size: cover;
}
.disciplinas-contenido {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    display: inline-block;

}
.section-class {
    color: greenyellow;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    border: 30px;
}
.FORMULARIO {
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: green;
    margin: 20px;
}
#titulo-formulario {
    display: flex;
    justify-content: center
}

#aranceles-fondo {
    background-image: url(https://media.vivieloeste.com.ar/p/09eb5df727bb4f0a4768259dd629348c/adjuntos/320/imagenes/000/048/0000048324/1200x0/smart/imagepng.png);
    
    background-size: cover;
    width: 1865px;
    height: 690px;
    padding-bottom: 300px;
    
}

.aranceles h1 {
    color:white;
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid 5px white;
}
.aranceles {
    color:white;
    font-size: x-large;
    font-family:'Times New Roman', Times, serif;
    display: inline-block;
    text-align: center; 
}  

.container-fluid-mio-inicio{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}
.nav-inicio-mio {
    display: flex;
    flex-wrap: wrap;
    color: green;
    list-style: none;
    font-family: calibri;
}
.ldeco {
    text-decoration: none;
    font-family: calibri;
    color: green;
    list-style: none;
}
.tipolmio3 {
    font-family: calibri;
    list-style: none;
}
header {
    margin-top: 20px;
    background-color: white;
}

h1 {
    margin-top: 20px
}

.contenedor-texto-inicio {
    
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
    background-image:linear-gradient(rgb(0 0 0 / .6),rgb(0 0 0 / .6)),url(https://www.argentina.basketball/themes/ee/site/default/asset/img/blog/20230427_195801.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 98vw;
    height: 90vh;
    
    
    
}
.wrap-inicio-noticia { 
    color:  white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 80%;
    height: 80%;
}

.caruselmio {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
}

@media screen and (min-width:768px) {
    .cards-basquet {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    }
}




#titulo-basquet {
    color: green;
    text-align: center;
    margin: 20px;
}

.alerta-mio {
    padding: 20px;
    margin: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}

@media screen and (max-width:425px) {
    .noticias-inicio {
        font-size: 250%;

    }
}

@media screen and (max-width:425px) {
    .nav-inicio-mio {
        font-size: medium;
    }
}   

.boton-form {
    color: white;
    background-color: green;
    
}

.container-map-mio {
    margin: 20px;

}