#titulo-basquet {
    color: green;
    text-align: center;
    margin: 20px;
    
}


.alerta-mio {
    padding: 20px;
    margin: 20px;
    width: auto;
}

.cards-basquet {
   margin-left: 20px;
   margin-right: 20px;
   
}